/build
/.vscode
/discrete_factor_graph
/test_fg_lbp
graph.txt
/__pycache__
/data
*.mat
/at612_reader
/py_dfg_da.egg-info
/pybindings/build
/pybindings/dfg_da.egg-info
/cmake
py_dfg_da.cpython-39-x86_64-linux-gnu.so
dfg_da
.DS_Store