/build
/.vscode
/discrete_factor_graph
/test_fg_lbp
graph.txt
/__pycache__
**/__pycache__
/data
*.mat
/at612_reader
/py_dfg_da.egg-info
/pybindings/build
/pybindings/dfg_da.egg-info
/cmake
py_dfg_da.cpython-39-x86_64-linux-gnu.so
.DS_Store
/pmbm_analysis_output
/pmbm_analysis_output copy
/testing_path
*.pybindings
*.bin
*.png
*.pdf
/ravens_output
/ravens_output_multicluster
/ravens_output_multicluster_new
/ravens_output_multicluster_last
/ravens_output_multicluster_backup
/ravens_output_multicluster_last
/ravens_output_multicluster_new
/ravens_output_multicluster (3rd copy)
/ravens_output_multicluster (copy)
/ravens_output_multicluster (another copy)
/ravens_output_multicluster (3rd copy)
/ravens_output_backup
/ravens_output2
**/*.mp4
*.asv
*.mexa64
/lightspeed
!./data/scenario210/k210ic5Few_prior.mat
!./data/scenario210/k210ic5Many_prior.mat
/build_cpp